<!DOCTYPE html>
<html lang="de">

<!-- Machine Code -->

<head>
    <meta charset="utf-8">
    <title>😊</title>
    <link rel="stylesheet" href="../styles/mainStyle.css" />
</head>
<!-- Human Code -->

<body>
    <div class="body">
        <div class="el NavBar">
            <div class="FlexNavItems">
                <div class="LeftNavSide">
                    <div class="NavLogo">
                        <h1 class="Logo">Logo</h1>
                    </div>
                    <ul>
                        <li>
                            <a href="#">
                                Home
                            </a>
                        </li>
                    </ul>
                </div>
                <div class="RightNavSide">
                    <button>Write me an Email</button>
                </div>
            </div>
        </div>
        <div class="el Content">Seite Inhalt
            <section class="TodoListSection">
                <div class="headercontent">
                    <h1 class="Intro">Welcome to my simple todoList Projekt</h1>
                </div>
            </section>
        </div>
        <div class="el LeftPanel">Sub Funktionen</div>
        <div class="el RightPanel">Werbungen und Trends</div>
        <div class="el Footer">Fußzeile</div>
    </div>
</body>

</html>